<% content_for :body_content_title do %>
  <%= @member.email %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Email</h1>
    <p>
      <%=raw @member.email %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="members">
      <% @members.each do |member| %>
        <li>
          <%= link_to member.email, member_url(member) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
